
/* Clear Fix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/**/

/*box sizing*/
div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.columns.collapse {
  padding-left:1px;
  padding-right:1px;
}

body {background:#635c4a;}

.top-bar {
  height:85px;
  width:100%;
  /*background:#000000;*/
  background:#504a3c;
  background:rgba(80,74,60,0.65)
}
.top-bar.fixed {
  position:absolute;
  z-index:3000;
}

.logo {
  position: absolute;
  top:0;
  left:0;
}
.menu {
  display:inline-block;
  position:absolute;
  top:14px;
  right:5px;
}
.menu li {
  display:inline-block;
  font-family:Dosis, sans-serif;
  font-size:18px;
  padding:8px 10px;
  text-transform:uppercase;
  font-weight:300;
  letter-spacing:1px;
}
.menu li a {
  text-decoration:none;
  color:#a39f90;
}
.menu li a:hover {
 color:#c9c5b6;
}


.menu li.active {
  color:#FFF;
}

h1 {
  font-family:Dosis, sans-serif;
  font-weight:medium;
  font-size:18px;
  text-transform: uppercase;
  font-weight:300;
  color:#36311e;
}

li {
  color:#ada799;
  font-weight:normal;
}
.cover {
  background-position: center!important;
  background-repeat:no-repeat!important;
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}
.project-grid .box {
  height:190px;
  position:relative;
  overflow:hidden;
}
.project-grid .box img {
  position:absolute;
  min-height:190px;
  min-width:310px;
}
.project-grid .box.verde {
  background-color:#82ad73;
}

.project-grid .box.cover {
}
.project-grid .box.cover:hover:before {
  content:'';
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background:#504a3c;
  background:rgba(80,74,60,0.5);
}

.project-grid .box.cover:hover:after {
  content:'+';
  position:absolute;
  top:42%;
  left:45%;
  line-height:20px;
  color:#FFF;
  font-weight:normal;
  font-family:Dosis;
  font-weight:100;
  font-size:60px;
}

.project-grid h1 {
  margin:0;
  padding:20px 0 0 20px;
}
.filter {
  margin:30px 0;
  padding-left:60px;
}
.filter h1, .filter ul, .filter li { display: inline-block; }
.filter h1 {
  position:relative;
  top:5px;
}
.filter li {
  display:inline-block;
  padding:5px 10px;
  margin:5px;
  cursor:pointer;
  font-size:15px;
}
.filter li.active {
  color:#fdfcf8;
  text-decoration:underline;
  cursor:default;
}

.project-container {
}

.project-box {
  z-index:3000;
  position:absolute;
  bottom:0;
  right:0;
}
.description-box {
  z-index:3000;
  position:absolute;
  bottom:67px;
  right:0;
  width:411px;
  color:#FFF;

  /*top:20%;*/
  background:#000000;
  background:rgba(0,0,0,0.65)

}

.description-box .box {
  vertical-align:text-top;
  display:inline-block;
  /*width:187px;*/
  width: 205px;
  padding-left:10px;
  padding-right:50px;
  padding-top:40px;
  padding-bottom:30px;
  font-family:Dosis, sans-serif;
  font-weight:medium;
  font-size:18px;
}
.description-box .box:first-child {
  padding-left:50px;
  padding-right:10px;
}
.description-box p {
  margin-top: 0;
  /*margin-bottom: 24px;*/
  font-family: Roboto Condensed, sans-serif;
  font-size:14px;
  font-weight: normal;
}
.description-box h1 {
  font-size:16px;
  font-weight:normal;
  margin-bottom:0;
  text-transform: uppercase;
  font-family: Dosis, sans-serif;
  font-size:18px;
  font-weight:500;
}

.project, .nav-left, .nav-down, .nav-right {
  display:inline-block;
  height:66px;
  margin-left:1px;
  font-family: Dosis, sans-serif;
  color:#FFF;
  font-size:14px;
  font-weight:normal;

  padding: 21px 21px;
  position: relative;
  top: 4px;

  background:#000000;
  background:rgba(0,0,0,0.65)
}
.nav-left, .nav-down, .nav-right {
  width:60px;
  cursor: pointer;
  background:rgba(0,0,0,0.45)
  /*height:20px;*/
}
.nav-left span, .nav-down span, .nav-right span {
  width:21px; height:21px;
  position: relative;
  display:block;
}

.project {
  padding-left:45px;
}
.project:hover { cursor: pointer }
.project p:before {
  content:'';
  display:block;
  position:absolute;
  top:0px;
  left:-26px;
  width:21px; height:21px;
  background:url('../images/cadas_sprites.png') no-repeat -24px -25px;;
}
.project.active p:before {
  background: url('../images/cadas_sprites.png') no-repeat -24px -96px;
  top:7px;
}

.project p {
  position:relative;
  top:-7px;
}
.nav-left span { background: url('../images/cadas_sprites.png') no-repeat -88px -21px; right: -1px; top: 6px; }
.nav-left:hover span { background: url('../images/cadas_sprites.png') no-repeat -88px -85px; }
.nav-right span {background:url('../images/cadas_sprites.png') no-repeat -156px -21px; left:4px; top:6px;}
.nav-right:hover span {background:url('../images/cadas_sprites.png') no-repeat -156px -85px;}
.nav-down span {background:url('../images/cadas_sprites.png') no-repeat -213px -28px; top: 11px; right: 2px;}
.nav-down:hover span {background:url('../images/cadas_sprites.png') no-repeat -213px -92px;}

@media screen and (max-width: 600px) {
  .nav-left, .nav-down, .nav-right {
    display:none;
  }
  .project { padding:27px 26px; }
  .project p { display:none;  }
  .project span {
    display: block;
    background: url('../images/cadas_sprites.png') no-repeat -24px -25px;
    width: 16px;
    height: 16px;
  }
  .project.active span {
    background: url('../images/cadas_sprites.png') no-repeat -24px -89px;
  }
  .menu li a {
    font-size:12px;
    padding:5px 10px;
  }
  .logo {
    position:relative;
    left:-20px;
  }
  .logo img {
    width:175px;
    height:66px;
  }
  .description-box {
    width:100%;
    bottom: 68px;
    right: 0;
    left: 0;
    top: 86px;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
  }
  .description-box .box:first-child {
    padding-left:10px;
    padding-right:50px;
    padding-top:40px;
    padding-bottom:30px;
  }
  .description-box .box {
    padding: 20px 15px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:landscape) {
  .top-bar.fixed {
    background: none;
  }
  .top-bar.fixed .menu {
    display:none;
  }
  .project-box {
    display: none;
  }
}
