/* Will be compiled down to a single stylesheet with your sass files */

/* Clear Fix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
/**/

/*box sizing*/
div {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

body {background:#ccc;}


.top-bar {
  position:absolute;
  height:85px;
  width:100%;
  z-index:3000;
  background:#000000;
  background:rgba(0,0,0,0.65)
}

.logo {
  position: absolute;
  top:0;
  left:0;
}
.menu {
  display:inline-block;
  position:absolute;
  top:5px;
  right:5px;
}
.menu li {
  display:inline-block;
}
.menu li a {
  color:#FFF;
  font-family:sans-serif;
  text-decoration:none;
  padding:8px 10px;
}
@media screen and (max-width: 600px) {
  .menu li a {
    font-size:12px;
    padding:5px 10px;
  }
  .logo {
    position:relative;
    left:-20px;
  }
  .logo img {
    width:175px;
    height:66px;
  }
}

.project-box {
  z-index:3000;
  position:absolute;
  bottom:0;
  right:0;
}
.description-box {
  z-index:3000;
  position:absolute;
  bottom:67px;
  right:0;
  width:374px;
  color:#FFF;


  background:#000000;
  background:rgba(0,0,0,0.65)

}

.description-box .box {
  vertical-align:text-top;
  display:inline-block;
  width:187px;
  padding:40px;
  font-family:sans-serif;
  font-weight:normal;
}
.description-box p {
  margin-top: 0;
  margin-bottom: 24px;
}
.description-box h1 {
  font-size:16px;
  font-weight:normal;
  margin-bottom:0;
}

.project, .nav-left, .nav-down, .nav-right {
  display:inline-block;
  height:66px;
  margin-left:1px;
  font-family: sans-serif;
  color:#FFF;
  font-size:14px;
  font-weight:normal;

  padding: 21px 21px;
  position: relative;
  top: 4px;

  background:#000000;
  background:rgba(0,0,0,0.65)
}
.nav-left, .nav-down, .nav-right {
  width:60px;
  cursor: pointer;
  background:rgba(0,0,0,0.45)
  /*height:20px;*/
}
.nav-left span, .nav-down span, .nav-right span {
  width:21px; height:21px;
  position: relative;
  display:block;
}

.project {
  padding-left:45px;
}
.project:hover { cursor: pointer }
.project p:before {
  content:'';
  display:block;
  position:absolute;
  top:0px;
  left:-26px;
  width:21px; height:21px;
  background:url('../images/cadas_sprites.png') no-repeat -24px -25px;;
}
.project.active p:before {
  background: url('../images/cadas_sprites.png') no-repeat -24px -96px;
  top:7px;
}

.project p {
  position:relative;
  top:-7px;
}
.nav-left span { background: url('../images/cadas_sprites.png') no-repeat -88px -21px; right: -1px; top: 6px; }
.nav-left:hover span { background: url('../images/cadas_sprites.png') no-repeat -88px -85px; }
.nav-right span {background:url('../images/cadas_sprites.png') no-repeat -156px -21px; left:4px; top:6px;}
.nav-right:hover span {background:url('../images/cadas_sprites.png') no-repeat -156px -85px;}
.nav-down span {background:url('../images/cadas_sprites.png') no-repeat -213px -28px; top: 11px; right: 2px;}
.nav-down:hover span {background:url('../images/cadas_sprites.png') no-repeat -213px -92px;}
