//-.top-bar
  //-.row
    //-.large-6.columns
      //-a(href="/")
        //-img(src="images/cadas_logo.png")
    //-.large-6.columns
      //-ul.menu
        //-li
          //-a(href="/perfil") Perfil
        //-li
          //-a(href="/projetos") Projetos
        //-li.active Contato

.row
  .large-12.columns#contato
    h1 Contato
    .small-12.large-3.columns
      h2 Interior
      p CRISTINA DAVID
      p cristianadavid@cadas.com.br
      br
      p BRUNA PIRÁ
      p brunapira@cadas.com.br
      br
      p MARCELA GROTH
      p marcelagroth@cadas.com.br
      br
      p RODRIGO BEZE
      p rodrigobeze@cadas.com.br


    .small-12.large-3.columns
      h2 Arquitetura
      p MAURICIO MAGARAO
      p mauriciomagarao@cadas.com.br
      br
      p RICARDO GONCALVES
      P ricardogoncalves@cadas.com.br
      br
      p ALICE LINDERBERG
      p alicelinderberg@cadas.com.br
      br
      p LUIZA LANDIM
      p luizalandim@cadas.com.br
      br
      p PEDRO MESQUITA
      P pedromesquita@cadas.com.br


    .small-12.large-3.columns
      h2 Administração
      p LILIAN SIQUEIRA
      P liliansiqueira@cadas.com.br


    .small-12.large-3.columns
      h2 Endereço
      p Rua Redentor, 23 - térreo
      p Ipanema - Cep 22421-030
      p Rio de Janeiro - RJ
      P Tel: 21.25232449
      p Fax: 21.222879742
      br
      p
        a.mapa(href="") Ver no mapa
      br
      h2 Mídias
      p
        a(href="") Facebook
      p
        a(href="") Twitter


