.swiper-container.swiper-nested1.swiper-n1
  .pagination-nested1.pagination-n1
  .swiper-wrapper
    .swiper-slide
      .swiper-container.swiper-nested2.swiper-n2
        .pagination-nested2.pagination-n2
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2000/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2001', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2010', alt='')
    .swiper-slide
      .swiper-container.swiper-nested3.swiper-n3
        .pagination-nested2.pagination-n3
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placekitten.com/2001/2000', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1001/1000', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1001/1005', alt='')
          .swiper-slide.green-slide
            img(src='http://placekitten.com/1011/1005', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1150/1055', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1150/1080', alt='')
    .swiper-slide.orange-slide
      img(src='http://placedog.com/1151/1080', alt='')

    script
      //-$(document).ready(function swiperSetup() {
        //-var swipers = $("[class*='swiper-n']");
        //-console.log(swipers);
        //-console.log('oi');
        //-var swipers = $("[class*='swiper-n']");
      //-});

      function fitFullPage(){
        $('[class*=swiper-n]').css("height",$(window).height());
        $('.swiper-container').css("height",$(window).height());
        $('.swiper-slide').css("height",$(window).height());
      }

      fitFullPage();

      window.onresize = function() {
        fitFullPage();
      }

      $(function(){
        $('.swiper-n1').swiper({
          pagination : '.pagination-n1',
          slidesPerSlide : 1,
          initialSlide : 1
        });
        $('.swiper-n2').swiper({
          pagination : '.pagination-n2',
          slidesPerSlide : 1,
          mode: 'vertical'
        });
        $('.swiper-n3').swiper({
          pagination : '.pagination-n3',
          slidesPerSlide : 1,
          mode: 'vertical'
        });
        fitFullPage();
      })

      /////

      $(window).load(function() {

        var theWindow        = $(window),
        $bg              = $(".swiper-slide img"),
        aspectRatio      = $bg.width() / $bg.height();

        function resizeBg() {
          if ( (theWindow.width() / theWindow.height()) < aspectRatio ) {
            $bg
            .removeClass()
            .addClass('bgheight');
          } else {
            $bg
            .removeClass()
            .addClass('bgwidth');
          }
        }
        theWindow.resize(resizeBg).trigger("resize");
      });
