.swiper-container.swiper-nested1.swiper-n1
  //-Pagination
  .pagination-nested1.pagination-n1
  //-Wrapper
  .swiper-wrapper
    //-Imagem
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")
    //-Imagem
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")
    //-Imagem
    .swiper-slide
      .swiper-container.swiper-nested2.swiper-n2
        //-Pagination
        .pagination-nested2.pagination-n2
        //-Wrapper
        .swiper-wrapper
          //-Imagem vertical
          .swiper-slide
            img(src="http://placekitten.com/2001/2000", alt="")
          //-Imagem vertical
          .swiper-slide
            img(src="http://placekitten.com/2001/2000", alt="")
    //-Imagem
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")



