.swiper-container.swiper-nested1.swiper-n1
  .pagination-nested1.pagination-n1
  .swiper-wrapper
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")
    .swiper-slide
      .swiper-container.swiper-nested2.swiper-n2
        .pagination-nested2.pagination-n2
        .swiper-wrapper
          .swiper-slide
            img(src="http://placekitten.com/2001/2000", alt="")
          .swiper-slide
            img(src="http://placekitten.com/2001/2000", alt="")
    .swiper-slide
      img(src="http://placekitten.com/2000/2000", alt="")



