//-ul(ng-repeat="item in gallery")
  //-//-li(ng-repeat="item in gallery") {{$index + 1}} {{item.name}}
  //-li {{$index + 1}} {{item.name}}
    //-ul(ng-repeat="url in item.images")
      //-li {{$index + 1}} {{url}}
.swiper-container.swiper-nested1.swiper-horizontal
  .pagination-nested1.pagination-horizontal
  .swiper-wrapper
    //.swiper-slide
      .swiper-container.swiper-nested2.swiper-n0
        .pagination-nested2.pagination-n0
        .swiper-wrapper
          .swiper-slide
            p oi
          .swiper-slide
            p oi
          .swiper-slide
            p oi
    //-.swiper-slide
      .swiper-container.swiper-nested2.swiper-n2
        .pagination-nested2.pagination-n2
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2000/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2001', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2010', alt='')
    //-.swiper-slide
      .swiper-container.swiper-nested3.swiper-n3
        .pagination-nested2.pagination-n3
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placekitten.com/2001/2000', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1001/1000', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1001/1005', alt='')
          .swiper-slide.green-slide
            img(src='http://placekitten.com/1011/1005', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1150/1055', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1150/1080', alt='')
