.top-bar.group
    .logo
        img(src="images/cadas_logo.png")
    ul.menu
      li
        a(href="#") Perfil
      li
        a(href="#") Projetos
      li
        a(href="#") Contato
//-ul(ng-repeat="item in gallery")
  //-//-li(ng-repeat="item in gallery") {{$index + 1}} {{item.name}}
  //-li {{$index + 1}} {{item.name}}
    //-ul(ng-repeat="url in item.images")
      //-li {{$index + 1}} {{url}}
.swiper-container.swiper-nested1.swiper-horizontal
  .pagination-nested1.pagination-horizontal
  .swiper-wrapper
    //.swiper-slide
      .swiper-container.swiper-nested2.swiper-nx
        .pagination-nested2.pagination-nx
        .swiper-wrapper
          .swiper-slide
            p lol
          .swiper-slide
            p lol
          .swiper-slide
            p lol
    //-.swiper-slide
      .swiper-container.swiper-nested2.swiper-n2
        .pagination-nested2.pagination-n2
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2000/2000', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2001', alt='')
          .swiper-slide.green-slide
            img(src='http://placebear.com/2001/2010', alt='')
    //-.swiper-slide
      .swiper-container.swiper-nested3.swiper-n3
        .pagination-nested2.pagination-n3
        .swiper-wrapper
          .swiper-slide.green-slide
            img(src='http://placekitten.com/2001/2000', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1001/1000', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1001/1005', alt='')
          .swiper-slide.green-slide
            img(src='http://placekitten.com/1011/1005', alt='')
          .swiper-slide.blue-slide
            img(src='http://placekitten.com/1150/1055', alt='')
          .swiper-slide.pink-slide
            img(src='http://placekitten.com/1150/1080', alt='')

.project-container
  .project-box
    .project(ng-click="toggle()", ng-class="isActive")
      span
      p {{content[0].projetos[activeProject].nome}}
    .nav-left(ng-click="goLeft()")
      span
    .nav-down(ng-click="goDown()")
      span
    .nav-right(ng-click="goRight()")
      span
  .description-box(ng-show="isVisible")
    .box
      h1 {{content[0].projetos[activeProject].nome}}

      h1 Ano
      p {{content[0].projetos[activeProject].ano}}

      h1 Localização
      p {{content[0].projetos[activeProject].localizacao}}

      h1 Tipo
      p {{content[0].projetos[activeProject].categoria}}

    .box
      h1 Créditos
      p(ng-repeat="credito in content[0].projetos[activeProject].creditos") {{credito.nome}}
      h1 Equipe
      p(ng-repeat="membro in content[0].projetos[activeProject].equipe") {{membro.nome}}
