div(class="swiper-container swiper-nested1 swiper-n1")
  //-Pagination
  div(class="pagination-nested1 pagination-n1")
  //-Wrapper
  div(class="swiper-wrapper")
    //-Imagem
    div(class="swiper-slide")
      img(src="http://placekitten.com/2000/2000", alt="")
    //-Imagem
    div(class="swiper-slide")
      img(src="http://placekitten.com/2000/2000", alt="")
    //-Imagem
    div(class="swiper-slide")
      div(class="swiper-container swiper-nested2 swiper-n2")
        //-Pagination
        div(class="pagination-nested2 pagination-n2")
          //-Wrapper
          div(class="swiper-wrapper")
            //-Imagem vertical
            div(class="swiper-slide")
              img(src="http://placekitten.com/2001/2000", alt="")
            //-Imagem vertical
            div(class="swiper-slide")
              img(src="http://placekitten.com/2001/2000", alt="")
    //-Imagem
    div(class="swiper-slide")
      img(src="http://placekitten.com/2000/2000", alt="")



