.top-bar
  .row
    .large-6.columns
      a(href="/")
        img(src="images/cadas_logo.png")
    .large-6.columns
      ul.menu
        li.active Perfil
        li
          a(href="/projetos") Projetos
        li
          a(href="/contato") Contato
.flex-video
  iframe(src="http://player.vimeo.com/video/63846600?title=0&amp;portrait=0&amp;color=ff9933&amp;autoplay=1", width="500", height="281", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)

