.top-bar
  .row
    .large-6.columns
      a(href="/")
        img(src="images/cadas_logo.png")
    .large-6.columns
      ul.menu
        li
          a(href="/perfil") Perfil
        li.active Projetos
        li
          a(href="/contato") Contato

.row
  .large-12.columns
    .filter
      h1 Projetos
      //-ul
        //-li Residência
        //-li Apartamento
        //-li Comercial
        //-li Arquivo

.row.project-grid
  span(ng-repeat="category in content")
    .small-12.large-3.collapse.columns
      .box.verde
        h1 {{category.nome}}
    span(ng-repeat="project in category.projetos")
      .small-12.large-3.collapse.columns
        .box.marrom
          p {{project.nome}}
          a(href="/?projeto={{project.ordem}}") Ver detalhe
      .small-12.large-3.collapse.columns
        a(href="/?projeto={{project.ordem}}")
          .box.cover.last(style="background:url({{project.thumb}});")



