!!!
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset='utf8')
  meta(http-equiv="X-UA-Compatible",content="IE-edge,chrome=1")
  meta(name="description",content="")
  meta(name="viewport",content="width=device-width")
  meta(name="apple-mobile-web-app-capable",content="yes")
  meta(name="apple-mobile-web-app-status-bar-style",content="black")
  title Cadas
  base(href='/')
  link(rel='stylesheet', href='/styles/main.css')
  link(rel='stylesheet', href='/styles/idangerous.swiper.css')
  link(rel='stylesheet', href='/styles/swiper.css')
  link(rel='stylesheet', href='styles/foundation.css')
  link(rel='stylesheet', href='styles/main.css')
  link(rel='stylesheet', href='styles/normalize.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:400,500|Roboto+Condensed')
  script(src='components/jquery/jquery.js')
  script(src='components/swiper/swiper.js')
body(ng-app="herokuApp")
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="components/es5-shim/es5-shim.js"></script>
    <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->
    .top-bar.fixed.group
        .logo
            a(href="/")
              img(src="images/cadas_logo.png")
        ul.menu
          li
            a(href="/perfil", ng-class="{'active': onPerfil}") Perfil
          li
            a(href="/projetos", ng-class="{'active': onProjetos}") Projetos
          li
            a(href="/contato", ng-class="{'active': onContato}") Contato
    div(ng-view)

    script(src='components/angular/angular.js')
    script(src='scripts/app.js')
    script(src='scripts/services/gallery_source.js')
    script(src='scripts/controllers/main.js')
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
