!!!
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
head
  meta(charset='utf8')
  meta(http-equiv="X-UA-Compatible",content="IE-edge,chrome=1")
  meta(name="description",content="")
  meta(name="viewport",content="width=device-width")
  meta(name="apple-mobile-web-app-capable",content="yes")
  meta(name="apple-mobile-web-app-status-bar-style",content="black")
  title Cadas
  base(href='/')
  link(rel='stylesheet', href='/styles/main.css')
  link(rel='stylesheet', href='/styles/idangerous.swiper.css')
  link(rel='stylesheet', href='/styles/swiper.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:400,500|Roboto+Condensed')
  script(src='components/jquery/jquery.js')
  script(src='components/swiper/swiper.js')
body(ng-app="herokuApp")
  block body
